a{
    margin-right: 5px;
    margin-left: 40px; 
}
body{
    background-color: cadetblue;
}

header h1{
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}
button:hover{
    color: blue
}